.heading{font-size:23px;
width:100%;
margin:0px;
box-shadow:5px 5px 5px blue;
}
.heading_div{
float:none;
background:white;
padding: 10px;
border-radius: 20px;
color:black;
box-shadow:5px 5px 5px rgb(255, 125, 244);
}
.heading_div2{
font-size:18px;
}
.copy_right_footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:red ;
    color:white;
    text-align:center;
    }
    canvas{
    border: 5px solid green;
    border-radius:20px;
    box-shadow:5px 5px 5px rgb(147, 25, 196);
    margin-top:100px;
    }